*
!.gitignore
!.gitattributes
!README.md
!Audio
!Audio/Game
!Audio/Game/Go.wav
!Audio/Impact
!Audio/Impact/Speech
!Audio/Impact/Speech/Oh_no.wav
!Audio/Impact/Speech/ugh.wav
!Audio/Impact/Speech/ughhard.wav
!Audio/Impact/Speech/vssver.scc
!Audio/Impact/Speech/watch.wav
!Audio/Numbers.ini
!Audio/NumOther.ini
!Audio/Speech
!Audio/Speech/Broken
!Audio/Speech/Broken/Eng
!Audio/Speech/Broken/Eng/batterys_flat.ogg
!Audio/Speech/Broken/Eng/gearbox_broke.ogg
!Audio/Speech/Broken/Eng/problem_engine.ogg
!Audio/Speech/Broken/Eng/steering_broke.ogg
!Audio/Speech/Broken/Eng/sus_broke.ogg
!Audio/Speech/Broken/Eng/vssver.scc
!Audio/Speech/Broken/Eng/water_temp.ogg
!Audio/Speech/Broken/Eng/weve_got_fire.ogg
!Audio/Speech/Broken/Eng/weve_got_fire2.ogg
!Audio/Speech/Broken/Eng/wv_lost_brakes.ogg
!Audio/Speech/Broken/Eng/wv_lost_brakes2.ogg
!Audio/Speech/Number
!Audio/Speech/Number/eighth1.ogg
!Audio/Speech/Number/eighth2.ogg
!Audio/Speech/Number/eighth3.ogg
!Audio/Speech/Number/eighth4.ogg
!Audio/Speech/Number/eleventh1.ogg
!Audio/Speech/Number/eleventh2.ogg
!Audio/Speech/Number/eleventh3.ogg
!Audio/Speech/Number/fifteenth1.ogg
!Audio/Speech/Number/fifteenth2.ogg
!Audio/Speech/Number/fifteenth3.ogg
!Audio/Speech/Number/fifth1.ogg
!Audio/Speech/Number/fifth2.ogg
!Audio/Speech/Number/fifth3.ogg
!Audio/Speech/Number/fifth4.ogg
!Audio/Speech/Number/first1.ogg
!Audio/Speech/Number/first2.ogg
!Audio/Speech/Number/first3.ogg
!Audio/Speech/Number/first4.ogg
!Audio/Speech/Number/fourteenth1.ogg
!Audio/Speech/Number/fourteenth2.ogg
!Audio/Speech/Number/fourteenth3.ogg
!Audio/Speech/Number/fourth1.ogg
!Audio/Speech/Number/fourth2.ogg
!Audio/Speech/Number/fourth3.ogg
!Audio/Speech/Number/fourth4.ogg
!Audio/Speech/Number/last1.ogg
!Audio/Speech/Number/last2.ogg
!Audio/Speech/Number/last3.ogg
!Audio/Speech/Number/last4.ogg
!Audio/Speech/Number/ninth1.ogg
!Audio/Speech/Number/ninth2.ogg
!Audio/Speech/Number/ninth3.ogg
!Audio/Speech/Number/ninth4.ogg
!Audio/Speech/Number/p1.ogg
!Audio/Speech/Number/p10.ogg
!Audio/Speech/Number/p100.ogg
!Audio/Speech/Number/p1000.ogg
!Audio/Speech/Number/p100_1.ogg
!Audio/Speech/Number/p100_2.ogg
!Audio/Speech/Number/p10_.ogg
!Audio/Speech/Number/p11.ogg
!Audio/Speech/Number/p11_.ogg
!Audio/Speech/Number/p12.ogg
!Audio/Speech/Number/p12_.ogg
!Audio/Speech/Number/p13.ogg
!Audio/Speech/Number/p13_.ogg
!Audio/Speech/Number/p14.ogg
!Audio/Speech/Number/p14_.ogg
!Audio/Speech/Number/p15.ogg
!Audio/Speech/Number/p150.ogg
!Audio/Speech/Number/p150_1.ogg
!Audio/Speech/Number/p150_2.ogg
!Audio/Speech/Number/p15_.ogg
!Audio/Speech/Number/p1_.ogg
!Audio/Speech/Number/p2.ogg
!Audio/Speech/Number/p200.ogg
!Audio/Speech/Number/p200_1.ogg
!Audio/Speech/Number/p200_2.ogg
!Audio/Speech/Number/p2_.ogg
!Audio/Speech/Number/p3.ogg
!Audio/Speech/Number/p30.ogg
!Audio/Speech/Number/p300.ogg
!Audio/Speech/Number/p30_1.ogg
!Audio/Speech/Number/p30_2.ogg
!Audio/Speech/Number/p3_.ogg
!Audio/Speech/Number/p4.ogg
!Audio/Speech/Number/p400.ogg
!Audio/Speech/Number/p4_.ogg
!Audio/Speech/Number/p5.ogg
!Audio/Speech/Number/p50.ogg
!Audio/Speech/Number/p500.ogg
!Audio/Speech/Number/p50_1.ogg
!Audio/Speech/Number/p50_2.ogg
!Audio/Speech/Number/p5_.ogg
!Audio/Speech/Number/p6.ogg
!Audio/Speech/Number/p600.ogg
!Audio/Speech/Number/p6_.ogg
!Audio/Speech/Number/p7.ogg
!Audio/Speech/Number/p700.ogg
!Audio/Speech/Number/p70_1.ogg
!Audio/Speech/Number/p70_2.ogg
!Audio/Speech/Number/p7_.ogg
!Audio/Speech/Number/p8.ogg
!Audio/Speech/Number/p800.ogg
!Audio/Speech/Number/p8_.ogg
!Audio/Speech/Number/p9.ogg
!Audio/Speech/Number/p900.ogg
!Audio/Speech/Number/p9_.ogg
!Audio/Speech/Number/second1.ogg
!Audio/Speech/Number/second2.ogg
!Audio/Speech/Number/second3.ogg
!Audio/Speech/Number/second4.ogg
!Audio/Speech/Number/seventh1.ogg
!Audio/Speech/Number/seventh2.ogg
!Audio/Speech/Number/seventh3.ogg
!Audio/Speech/Number/seventh4.ogg
!Audio/Speech/Number/sixth1.ogg
!Audio/Speech/Number/sixth2.ogg
!Audio/Speech/Number/sixth3.ogg
!Audio/Speech/Number/sixth4.ogg
!Audio/Speech/Number/start1.ogg
!Audio/Speech/Number/start2.ogg
!Audio/Speech/Number/start3.ogg
!Audio/Speech/Number/tenth1.ogg
!Audio/Speech/Number/tenth2.ogg
!Audio/Speech/Number/tenth3.ogg
!Audio/Speech/Number/tenth4.ogg
!Audio/Speech/Number/third1.ogg
!Audio/Speech/Number/third2.ogg
!Audio/Speech/Number/third3.ogg
!Audio/Speech/Number/third4.ogg
!Audio/Speech/Number/thirteenth1.ogg
!Audio/Speech/Number/thirteenth2.ogg
!Audio/Speech/Number/thirteenth3.ogg
!Audio/Speech/Number/twelfth1.ogg
!Audio/Speech/Number/twelfth2.ogg
!Audio/Speech/Number/twelfth3.ogg
!Audio/Speech/Number/vssver.scc
!Plugins
!Plugins/Pacenote
!Plugins/Pacenote/config
!Plugins/Pacenote/config/pacenotes
!Plugins/Pacenote/config/pacenotes/Descriptive.ini
!Plugins/Pacenote/config/pacenotes/Extended.ini
!Plugins/Pacenote/config/pacenotes/Numeric-Descending-Swapped.ini
!Plugins/Pacenote/config/pacenotes/Numeric-Descending.ini
!Plugins/Pacenote/config/pacenotes/Numeric-Swapped.ini
!Plugins/Pacenote/config/pacenotes/Numeric.ini
!Plugins/Pacenote/config/pacenotes/pacenotes.rar
!Plugins/Pacenote/config/pacenotes/packages
!Plugins/Pacenote/config/pacenotes/packages/additional
!Plugins/Pacenote/config/pacenotes/packages/additional/Extended-cz.ini
!Plugins/Pacenote/config/pacenotes/packages/additional/Extended.ini
!Plugins/Pacenote/config/pacenotes/packages/additional/Rbr-Enhanced.ini
!Plugins/Pacenote/config/pacenotes/packages/additional/Rbr.ini
!Plugins/Pacenote/config/pacenotes/packages/adjectives
!Plugins/Pacenote/config/pacenotes/packages/adjectives/Extended-cz.ini
!Plugins/Pacenote/config/pacenotes/packages/adjectives/Extended.ini
!Plugins/Pacenote/config/pacenotes/packages/cautions
!Plugins/Pacenote/config/pacenotes/packages/cautions/Extended-cz.ini
!Plugins/Pacenote/config/pacenotes/packages/cautions/Extended-fr.ini
!Plugins/Pacenote/config/pacenotes/packages/cautions/Extended-hu.ini
!Plugins/Pacenote/config/pacenotes/packages/cautions/Extended.ini
!Plugins/Pacenote/config/pacenotes/packages/cautions/Rbr.ini
!Plugins/Pacenote/config/pacenotes/packages/condition
!Plugins/Pacenote/config/pacenotes/packages/condition/Extended-cz.ini
!Plugins/Pacenote/config/pacenotes/packages/condition/Extended.ini
!Plugins/Pacenote/config/pacenotes/packages/construction
!Plugins/Pacenote/config/pacenotes/packages/construction/Extended.ini
!Plugins/Pacenote/config/pacenotes/packages/corners
!Plugins/Pacenote/config/pacenotes/packages/corners/Descriptive-fr.ini
!Plugins/Pacenote/config/pacenotes/packages/corners/Descriptive-hu.ini
!Plugins/Pacenote/config/pacenotes/packages/corners/Descriptive.ini
!Plugins/Pacenote/config/pacenotes/packages/corners/New.txt
!Plugins/Pacenote/config/pacenotes/packages/corners/Numeric-cz.ini
!Plugins/Pacenote/config/pacenotes/packages/corners/Numeric-Descending-cz.ini
!Plugins/Pacenote/config/pacenotes/packages/corners/Numeric-Descending-fr.ini
!Plugins/Pacenote/config/pacenotes/packages/corners/Numeric-Descending-Swapped-cz.ini
!Plugins/Pacenote/config/pacenotes/packages/corners/Numeric-Descending-Swapped-fr.ini
!Plugins/Pacenote/config/pacenotes/packages/corners/Numeric-Descending-Swapped.ini
!Plugins/Pacenote/config/pacenotes/packages/corners/Numeric-Descending.ini
!Plugins/Pacenote/config/pacenotes/packages/corners/Numeric-Swapped-cz.ini
!Plugins/Pacenote/config/pacenotes/packages/corners/Numeric-Swapped.ini
!Plugins/Pacenote/config/pacenotes/packages/corners/Numeric.ini
!Plugins/Pacenote/config/pacenotes/packages/corners/Numeric.ini.bak
!Plugins/Pacenote/config/pacenotes/packages/corners/Rbr.ini
!Plugins/Pacenote/config/pacenotes/packages/Descriptive.ini
!Plugins/Pacenote/config/pacenotes/packages/driving
!Plugins/Pacenote/config/pacenotes/packages/driving/Extended-cz.ini
!Plugins/Pacenote/config/pacenotes/packages/driving/Extended.ini
!Plugins/Pacenote/config/pacenotes/packages/Extended.ini
!Plugins/Pacenote/config/pacenotes/packages/line
!Plugins/Pacenote/config/pacenotes/packages/line/Extended-cz.ini
!Plugins/Pacenote/config/pacenotes/packages/line/Extended-hu.ini
!Plugins/Pacenote/config/pacenotes/packages/line/Extended.ini
!Plugins/Pacenote/config/pacenotes/packages/line/Rbr.ini
!Plugins/Pacenote/config/pacenotes/packages/links
!Plugins/Pacenote/config/pacenotes/packages/links/Extended.ini
!Plugins/Pacenote/config/pacenotes/packages/links/Rbr-Enhanced.ini
!Plugins/Pacenote/config/pacenotes/packages/links/Rbr.ini
!Plugins/Pacenote/config/pacenotes/packages/modifier
!Plugins/Pacenote/config/pacenotes/packages/modifier/Extended-cz.ini
!Plugins/Pacenote/config/pacenotes/packages/modifier/Extended.ini
!Plugins/Pacenote/config/pacenotes/packages/modifier/Rbr.ini
!Plugins/Pacenote/config/pacenotes/packages/Numeric-Descending-Swapped.ini
!Plugins/Pacenote/config/pacenotes/packages/Numeric-Descending.ini
!Plugins/Pacenote/config/pacenotes/packages/Numeric-Swapped.ini
!Plugins/Pacenote/config/pacenotes/packages/Numeric.ini
!Plugins/Pacenote/config/pacenotes/packages/obstacles
!Plugins/Pacenote/config/pacenotes/packages/obstacles/Extended-cz.ini
!Plugins/Pacenote/config/pacenotes/packages/obstacles/Extended-fr.ini
!Plugins/Pacenote/config/pacenotes/packages/obstacles/Extended-hu.ini
!Plugins/Pacenote/config/pacenotes/packages/obstacles/Extended.ini
!Plugins/Pacenote/config/pacenotes/packages/obstacles/Extended.ini.bak
!Plugins/Pacenote/config/pacenotes/packages/obstacles/Rbr.ini
!Plugins/Pacenote/config/pacenotes/packages/prepositions
!Plugins/Pacenote/config/pacenotes/packages/prepositions/Extended.ini
!Plugins/Pacenote/config/pacenotes/packages/Rbr-Enhanced.ini
!Plugins/Pacenote/config/pacenotes/packages/Rbr.ini
!Plugins/Pacenote/config/pacenotes/packages/RbrCorners.ini
!Plugins/Pacenote/config/pacenotes/packages/road
!Plugins/Pacenote/config/pacenotes/packages/road/Extended-cz.ini
!Plugins/Pacenote/config/pacenotes/packages/road/Extended-fr.ini
!Plugins/Pacenote/config/pacenotes/packages/road/Extended.ini
!Plugins/Pacenote/config/pacenotes/packages/road/Extended.ini.bak
!Plugins/Pacenote/config/pacenotes/packages/surface
!Plugins/Pacenote/config/pacenotes/packages/surface/Extended-cz.ini
!Plugins/Pacenote/config/pacenotes/packages/surface/Extended.ini
!Plugins/Pacenote/config/pacenotes/Rbr-Enhanced.ini
!Plugins/Pacenote/config/pacenotes/Rbr.ini
!Plugins/Pacenote/config/ranges
!Plugins/Pacenote/config/ranges/Extended.ini
!Plugins/Pacenote/config/ranges/packages
!Plugins/Pacenote/config/ranges/packages/extended
!Plugins/Pacenote/config/ranges/packages/extended/Extended.ini
!Plugins/Pacenote/config/ranges/packages/Extended.ini
!Plugins/Pacenote/config/ranges/packages/rbr
!Plugins/Pacenote/config/ranges/packages/rbr/Rbr.ini
!Plugins/Pacenote/config/ranges/packages/Rbr.ini
!Plugins/Pacenote/config/ranges/Rbr.ini
!Plugins/Pacenote/config/ranges.rar
!Plugins/Pacenote/language
!Plugins/Pacenote/language/english
!Plugins/Pacenote/language/english/pacenotes
!Plugins/Pacenote/language/english/pacenotes/packages
!Plugins/Pacenote/language/english/pacenotes/packages/additional
!Plugins/Pacenote/language/english/pacenotes/packages/additional/strings.ini
!Plugins/Pacenote/language/english/pacenotes/packages/adjectives
!Plugins/Pacenote/language/english/pacenotes/packages/adjectives/strings.ini
!Plugins/Pacenote/language/english/pacenotes/packages/cautions
!Plugins/Pacenote/language/english/pacenotes/packages/cautions/strings.ini
!Plugins/Pacenote/language/english/pacenotes/packages/condition
!Plugins/Pacenote/language/english/pacenotes/packages/condition/strings.ini
!Plugins/Pacenote/language/english/pacenotes/packages/construction
!Plugins/Pacenote/language/english/pacenotes/packages/construction/strings.ini
!Plugins/Pacenote/language/english/pacenotes/packages/corners
!Plugins/Pacenote/language/english/pacenotes/packages/corners/strings.ini
!Plugins/Pacenote/language/english/pacenotes/packages/corners/strings.ini.bak
!Plugins/Pacenote/language/english/pacenotes/packages/driving
!Plugins/Pacenote/language/english/pacenotes/packages/driving/strings.ini
!Plugins/Pacenote/language/english/pacenotes/packages/line
!Plugins/Pacenote/language/english/pacenotes/packages/line/strings.ini
!Plugins/Pacenote/language/english/pacenotes/packages/links
!Plugins/Pacenote/language/english/pacenotes/packages/links/strings.ini
!Plugins/Pacenote/language/english/pacenotes/packages/modifier
!Plugins/Pacenote/language/english/pacenotes/packages/modifier/strings.ini
!Plugins/Pacenote/language/english/pacenotes/packages/obstacles
!Plugins/Pacenote/language/english/pacenotes/packages/obstacles/strings.ini
!Plugins/Pacenote/language/english/pacenotes/packages/prepositions
!Plugins/Pacenote/language/english/pacenotes/packages/prepositions/strings.ini
!Plugins/Pacenote/language/english/pacenotes/packages/road
!Plugins/Pacenote/language/english/pacenotes/packages/road/strings.ini
!Plugins/Pacenote/language/english/pacenotes/packages/strings.ini
!Plugins/Pacenote/language/english/pacenotes/packages/surface
!Plugins/Pacenote/language/english/pacenotes/packages/surface/strings.ini
!Plugins/Pacenote/language/english/strings.ini
!Plugins/Pacenote/PaceNote.ini
!Plugins/Pacenote/sounds
!Plugins/Pacenote/sounds/SabrinaInkwell3
!Plugins/Pacenote/sounds/SabrinaInkwell3/1.ogg
!Plugins/Pacenote/sounds/SabrinaInkwell3/10.ogg
!Plugins/Pacenote/sounds/SabrinaInkwell3/100.ogg
!Plugins/Pacenote/sounds/SabrinaInkwell3/1000.ogg
!Plugins/Pacenote/sounds/SabrinaInkwell3/110.ogg
!Plugins/Pacenote/sounds/SabrinaInkwell3/120.ogg
!Plugins/Pacenote/sounds/SabrinaInkwell3/140.ogg
!Plugins/Pacenote/sounds/SabrinaInkwell3/150.ogg
!Plugins/Pacenote/sounds/SabrinaInkwell3/160.ogg
!Plugins/Pacenote/sounds/SabrinaInkwell3/180.ogg
!Plugins/Pacenote/sounds/SabrinaInkwell3/2.ogg
!Plugins/Pacenote/sounds/SabrinaInkwell3/20.ogg
!Plugins/Pacenote/sounds/SabrinaInkwell3/200.ogg
!Plugins/Pacenote/sounds/SabrinaInkwell3/250.ogg
!Plugins/Pacenote/sounds/SabrinaInkwell3/3.ogg
!Plugins/Pacenote/sounds/SabrinaInkwell3/30.ogg
!Plugins/Pacenote/sounds/SabrinaInkwell3/300.ogg
!Plugins/Pacenote/sounds/SabrinaInkwell3/350.ogg
!Plugins/Pacenote/sounds/SabrinaInkwell3/40.ogg
!Plugins/Pacenote/sounds/SabrinaInkwell3/400.ogg
!Plugins/Pacenote/sounds/SabrinaInkwell3/450.ogg
!Plugins/Pacenote/sounds/SabrinaInkwell3/50.ogg
!Plugins/Pacenote/sounds/SabrinaInkwell3/500.ogg
!Plugins/Pacenote/sounds/SabrinaInkwell3/60.ogg
!Plugins/Pacenote/sounds/SabrinaInkwell3/600.ogg
!Plugins/Pacenote/sounds/SabrinaInkwell3/7.ogg
!Plugins/Pacenote/sounds/SabrinaInkwell3/70.ogg
!Plugins/Pacenote/sounds/SabrinaInkwell3/700.ogg
!Plugins/Pacenote/sounds/SabrinaInkwell3/80.ogg
!Plugins/Pacenote/sounds/SabrinaInkwell3/800.ogg
!Plugins/Pacenote/sounds/SabrinaInkwell3/90.ogg
!Plugins/Pacenote/sounds/SabrinaInkwell3/900.ogg
!Plugins/Pacenote/sounds/SabrinaInkwell3/acute.ogg
!Plugins/Pacenote/sounds/SabrinaInkwell3/again.ogg
!Plugins/Pacenote/sounds/SabrinaInkwell3/and.ogg
!Plugins/Pacenote/sounds/SabrinaInkwell3/at.ogg
!Plugins/Pacenote/sounds/SabrinaInkwell3/bad_bump.ogg
!Plugins/Pacenote/sounds/SabrinaInkwell3/bad_camber.ogg
!Plugins/Pacenote/sounds/SabrinaInkwell3/barrels.ogg
!Plugins/Pacenote/sounds/SabrinaInkwell3/before.ogg
!Plugins/Pacenote/sounds/SabrinaInkwell3/be_brave.ogg
!Plugins/Pacenote/sounds/SabrinaInkwell3/big.ogg
!Plugins/Pacenote/sounds/SabrinaInkwell3/big_cut.ogg
!Plugins/Pacenote/sounds/SabrinaInkwell3/big_jump.ogg
!Plugins/Pacenote/sounds/SabrinaInkwell3/blind.ogg
!Plugins/Pacenote/sounds/SabrinaInkwell3/brake.ogg
!Plugins/Pacenote/sounds/SabrinaInkwell3/bridge.ogg
!Plugins/Pacenote/sounds/SabrinaInkwell3/bump.ogg
!Plugins/Pacenote/sounds/SabrinaInkwell3/bumpy.ogg
!Plugins/Pacenote/sounds/SabrinaInkwell3/bush.ogg
!Plugins/Pacenote/sounds/SabrinaInkwell3/camber.ogg
!Plugins/Pacenote/sounds/SabrinaInkwell3/caution.ogg
!Plugins/Pacenote/sounds/SabrinaInkwell3/chicane.ogg
!Plugins/Pacenote/sounds/SabrinaInkwell3/continues.ogg
!Plugins/Pacenote/sounds/SabrinaInkwell3/continues_overcrest.ogg
!Plugins/Pacenote/sounds/SabrinaInkwell3/crest.ogg
!Plugins/Pacenote/sounds/SabrinaInkwell3/cut.ogg
!Plugins/Pacenote/sounds/SabrinaInkwell3/cut_thru.ogg
!Plugins/Pacenote/sounds/SabrinaInkwell3/deceptive.ogg
!Plugins/Pacenote/sounds/SabrinaInkwell3/deep_ruts.ogg
!Plugins/Pacenote/sounds/SabrinaInkwell3/defi_dont_cut.ogg
!Plugins/Pacenote/sounds/SabrinaInkwell3/dip.ogg
!Plugins/Pacenote/sounds/SabrinaInkwell3/directly.ogg
!Plugins/Pacenote/sounds/SabrinaInkwell3/ditch_in.ogg
!Plugins/Pacenote/sounds/SabrinaInkwell3/ditch_out.ogg
!Plugins/Pacenote/sounds/SabrinaInkwell3/done.ogg
!Plugins/Pacenote/sounds/SabrinaInkwell3/dontcut.ogg
!Plugins/Pacenote/sounds/SabrinaInkwell3/dont_cut_early.ogg
!Plugins/Pacenote/sounds/SabrinaInkwell3/dont_cut_late.ogg
!Plugins/Pacenote/sounds/SabrinaInkwell3/donut_left.ogg
!Plugins/Pacenote/sounds/SabrinaInkwell3/donut_right.ogg
!Plugins/Pacenote/sounds/SabrinaInkwell3/double_caution.ogg
!Plugins/Pacenote/sounds/SabrinaInkwell3/double_jumps.ogg
!Plugins/Pacenote/sounds/SabrinaInkwell3/downhill.ogg
!Plugins/Pacenote/sounds/SabrinaInkwell3/early.ogg
!Plugins/Pacenote/sounds/SabrinaInkwell3/entry.ogg
!Plugins/Pacenote/sounds/SabrinaInkwell3/exit.ogg
!Plugins/Pacenote/sounds/SabrinaInkwell3/fence.ogg
!Plugins/Pacenote/sounds/SabrinaInkwell3/fence_in.ogg
!Plugins/Pacenote/sounds/SabrinaInkwell3/fence_out.ogg
!Plugins/Pacenote/sounds/SabrinaInkwell3/finish.ogg
!Plugins/Pacenote/sounds/SabrinaInkwell3/five_left.ogg
!Plugins/Pacenote/sounds/SabrinaInkwell3/five_right.ogg
!Plugins/Pacenote/sounds/SabrinaInkwell3/flatout.ogg
!Plugins/Pacenote/sounds/SabrinaInkwell3/flat_left.ogg
!Plugins/Pacenote/sounds/SabrinaInkwell3/flat_right.ogg
!Plugins/Pacenote/sounds/SabrinaInkwell3/for.ogg
!Plugins/Pacenote/sounds/SabrinaInkwell3/four_left.ogg
!Plugins/Pacenote/sounds/SabrinaInkwell3/four_right.ogg
!Plugins/Pacenote/sounds/SabrinaInkwell3/gate.ogg
!Plugins/Pacenote/sounds/SabrinaInkwell3/gostraight.ogg
!Plugins/Pacenote/sounds/SabrinaInkwell3/go_round.ogg
!Plugins/Pacenote/sounds/SabrinaInkwell3/go_wide.ogg
!Plugins/Pacenote/sounds/SabrinaInkwell3/hairpinleft.ogg
!Plugins/Pacenote/sounds/SabrinaInkwell3/hairpinright.ogg
!Plugins/Pacenote/sounds/SabrinaInkwell3/half_long.ogg
!Plugins/Pacenote/sounds/SabrinaInkwell3/hard_brake.ogg
!Plugins/Pacenote/sounds/SabrinaInkwell3/hole.ogg
!Plugins/Pacenote/sounds/SabrinaInkwell3/house.ogg
!Plugins/Pacenote/sounds/SabrinaInkwell3/icy.ogg
!Plugins/Pacenote/sounds/SabrinaInkwell3/immediate.ogg
!Plugins/Pacenote/sounds/SabrinaInkwell3/in.ogg
!Plugins/Pacenote/sounds/SabrinaInkwell3/inside.ogg
!Plugins/Pacenote/sounds/SabrinaInkwell3/into.ogg
!Plugins/Pacenote/sounds/SabrinaInkwell3/jump.ogg
!Plugins/Pacenote/sounds/SabrinaInkwell3/jump_maybe.ogg
!Plugins/Pacenote/sounds/SabrinaInkwell3/junction.ogg
!Plugins/Pacenote/sounds/SabrinaInkwell3/keep_in.ogg
!Plugins/Pacenote/sounds/SabrinaInkwell3/keep_left.ogg
!Plugins/Pacenote/sounds/SabrinaInkwell3/keep_middle.ogg
!Plugins/Pacenote/sounds/SabrinaInkwell3/keep_out.ogg
!Plugins/Pacenote/sounds/SabrinaInkwell3/keep_right.ogg
!Plugins/Pacenote/sounds/SabrinaInkwell3/late.ogg
!Plugins/Pacenote/sounds/SabrinaInkwell3/lateish.ogg
!Plugins/Pacenote/sounds/SabrinaInkwell3/leftish.ogg
!Plugins/Pacenote/sounds/SabrinaInkwell3/left_around.ogg
!Plugins/Pacenote/sounds/SabrinaInkwell3/left_entry.ogg
!Plugins/Pacenote/sounds/SabrinaInkwell3/left_entry_chicane.ogg
!Plugins/Pacenote/sounds/SabrinaInkwell3/left_into.ogg
!Plugins/Pacenote/sounds/SabrinaInkwell3/left_over.ogg
!Plugins/Pacenote/sounds/SabrinaInkwell3/left_right.ogg
!Plugins/Pacenote/sounds/SabrinaInkwell3/logs.ogg
!Plugins/Pacenote/sounds/SabrinaInkwell3/log_in.ogg
!Plugins/Pacenote/sounds/SabrinaInkwell3/log_out.ogg
!Plugins/Pacenote/sounds/SabrinaInkwell3/long.ogg
!Plugins/Pacenote/sounds/SabrinaInkwell3/marshalls.ogg
!Plugins/Pacenote/sounds/SabrinaInkwell3/maybe.ogg
!Plugins/Pacenote/sounds/SabrinaInkwell3/minus.ogg
!Plugins/Pacenote/sounds/SabrinaInkwell3/narrow.ogg
!Plugins/Pacenote/sounds/SabrinaInkwell3/narrows.ogg
!Plugins/Pacenote/sounds/SabrinaInkwell3/narrow_bridge.ogg
!Plugins/Pacenote/sounds/SabrinaInkwell3/narrow_gate.ogg
!Plugins/Pacenote/sounds/SabrinaInkwell3/neat.ogg
!Plugins/Pacenote/sounds/SabrinaInkwell3/next_lap.ogg
!Plugins/Pacenote/sounds/SabrinaInkwell3/on.ogg
!Plugins/Pacenote/sounds/SabrinaInkwell3/one_left.ogg
!Plugins/Pacenote/sounds/SabrinaInkwell3/one_right.ogg
!Plugins/Pacenote/sounds/SabrinaInkwell3/onto.ogg
!Plugins/Pacenote/sounds/SabrinaInkwell3/onto_bridge.ogg
!Plugins/Pacenote/sounds/SabrinaInkwell3/onto_gravel.ogg
!Plugins/Pacenote/sounds/SabrinaInkwell3/onto_ice.ogg
!Plugins/Pacenote/sounds/SabrinaInkwell3/onto_narrow_bridge.ogg
!Plugins/Pacenote/sounds/SabrinaInkwell3/onto_snow.ogg
!Plugins/Pacenote/sounds/SabrinaInkwell3/onto_straight.ogg
!Plugins/Pacenote/sounds/SabrinaInkwell3/onto_tarmac.ogg
!Plugins/Pacenote/sounds/SabrinaInkwell3/on_entry.ogg
!Plugins/Pacenote/sounds/SabrinaInkwell3/on_exit.ogg
!Plugins/Pacenote/sounds/SabrinaInkwell3/opens.ogg
!Plugins/Pacenote/sounds/SabrinaInkwell3/opens_long.ogg
!Plugins/Pacenote/sounds/SabrinaInkwell3/opens_overcrest.ogg
!Plugins/Pacenote/sounds/SabrinaInkwell3/opens_tightens.ogg
!Plugins/Pacenote/sounds/SabrinaInkwell3/outside.ogg
!Plugins/Pacenote/sounds/SabrinaInkwell3/over.ogg
!Plugins/Pacenote/sounds/SabrinaInkwell3/overcrest.ogg
!Plugins/Pacenote/sounds/SabrinaInkwell3/over_big_jump.ogg
!Plugins/Pacenote/sounds/SabrinaInkwell3/over_bridge.ogg
!Plugins/Pacenote/sounds/SabrinaInkwell3/over_jump.ogg
!Plugins/Pacenote/sounds/SabrinaInkwell3/over_small_crest.ogg
!Plugins/Pacenote/sounds/SabrinaInkwell3/over_small_jump.ogg
!Plugins/Pacenote/sounds/SabrinaInkwell3/past_junction.ogg
!Plugins/Pacenote/sounds/SabrinaInkwell3/plus.ogg
!Plugins/Pacenote/sounds/SabrinaInkwell3/post.ogg
!Plugins/Pacenote/sounds/SabrinaInkwell3/puddle.ogg
!Plugins/Pacenote/sounds/SabrinaInkwell3/rightish.ogg
!Plugins/Pacenote/sounds/SabrinaInkwell3/right_around.ogg
!Plugins/Pacenote/sounds/SabrinaInkwell3/right_entry.ogg
!Plugins/Pacenote/sounds/SabrinaInkwell3/right_entry_chicane.ogg
!Plugins/Pacenote/sounds/SabrinaInkwell3/right_into.ogg
!Plugins/Pacenote/sounds/SabrinaInkwell3/right_left.ogg
!Plugins/Pacenote/sounds/SabrinaInkwell3/right_over.ogg
!Plugins/Pacenote/sounds/SabrinaInkwell3/road.ogg
!Plugins/Pacenote/sounds/SabrinaInkwell3/rock.ogg
!Plugins/Pacenote/sounds/SabrinaInkwell3/rock_in.ogg
!Plugins/Pacenote/sounds/SabrinaInkwell3/rock_out.ogg
!Plugins/Pacenote/sounds/SabrinaInkwell3/round.ogg
!Plugins/Pacenote/sounds/SabrinaInkwell3/roundabout.ogg
!Plugins/Pacenote/sounds/SabrinaInkwell3/rut.ogg
!Plugins/Pacenote/sounds/SabrinaInkwell3/ruts.ogg
!Plugins/Pacenote/sounds/SabrinaInkwell3/sharp.ogg
!Plugins/Pacenote/sounds/SabrinaInkwell3/short.ogg
!Plugins/Pacenote/sounds/SabrinaInkwell3/sign.ogg
!Plugins/Pacenote/sounds/SabrinaInkwell3/six_left.ogg
!Plugins/Pacenote/sounds/SabrinaInkwell3/six_right.ogg
!Plugins/Pacenote/sounds/SabrinaInkwell3/slippy.ogg
!Plugins/Pacenote/sounds/SabrinaInkwell3/slow.ogg
!Plugins/Pacenote/sounds/SabrinaInkwell3/slowing.ogg
!Plugins/Pacenote/sounds/SabrinaInkwell3/small.ogg
!Plugins/Pacenote/sounds/SabrinaInkwell3/small_crest.ogg
!Plugins/Pacenote/sounds/SabrinaInkwell3/small_cut.ogg
!Plugins/Pacenote/sounds/SabrinaInkwell3/small_jump.ogg
!Plugins/Pacenote/sounds/SabrinaInkwell3/spectators.ogg
!Plugins/Pacenote/sounds/SabrinaInkwell3/square_left.ogg
!Plugins/Pacenote/sounds/SabrinaInkwell3/square_right.ogg
!Plugins/Pacenote/sounds/SabrinaInkwell3/start1.ogg
!Plugins/Pacenote/sounds/SabrinaInkwell3/start2.ogg
!Plugins/Pacenote/sounds/SabrinaInkwell3/start3.ogg
!Plugins/Pacenote/sounds/SabrinaInkwell3/steep_climb.ogg
!Plugins/Pacenote/sounds/SabrinaInkwell3/steep_drop.ogg
!Plugins/Pacenote/sounds/SabrinaInkwell3/stop.ogg
!Plugins/Pacenote/sounds/SabrinaInkwell3/sudden.ogg
!Plugins/Pacenote/sounds/SabrinaInkwell3/take_exit.ogg
!Plugins/Pacenote/sounds/SabrinaInkwell3/then.ogg
!Plugins/Pacenote/sounds/SabrinaInkwell3/three_left.ogg
!Plugins/Pacenote/sounds/SabrinaInkwell3/three_right.ogg
!Plugins/Pacenote/sounds/SabrinaInkwell3/through.ogg
!Plugins/Pacenote/sounds/SabrinaInkwell3/through_dip.ogg
!Plugins/Pacenote/sounds/SabrinaInkwell3/through_gate.ogg
!Plugins/Pacenote/sounds/SabrinaInkwell3/through_narrow_gate.ogg
!Plugins/Pacenote/sounds/SabrinaInkwell3/thru_water.ogg
!Plugins/Pacenote/sounds/SabrinaInkwell3/tight.ogg
!Plugins/Pacenote/sounds/SabrinaInkwell3/tightens.ogg
!Plugins/Pacenote/sounds/SabrinaInkwell3/tightensbad.ogg
!Plugins/Pacenote/sounds/SabrinaInkwell3/tightens_1.ogg
!Plugins/Pacenote/sounds/SabrinaInkwell3/tightens_2.ogg
!Plugins/Pacenote/sounds/SabrinaInkwell3/tightens_3.ogg
!Plugins/Pacenote/sounds/SabrinaInkwell3/tightens_4.ogg
!Plugins/Pacenote/sounds/SabrinaInkwell3/tightens_5.ogg
!Plugins/Pacenote/sounds/SabrinaInkwell3/tightens_6.ogg
!Plugins/Pacenote/sounds/SabrinaInkwell3/tightens_hp.ogg
!Plugins/Pacenote/sounds/SabrinaInkwell3/tightens_late.ogg
!Plugins/Pacenote/sounds/SabrinaInkwell3/tightens_opens.ogg
!Plugins/Pacenote/sounds/SabrinaInkwell3/tightens_overcrest.ogg
!Plugins/Pacenote/sounds/SabrinaInkwell3/tightens_square.ogg
!Plugins/Pacenote/sounds/SabrinaInkwell3/to_1.ogg
!Plugins/Pacenote/sounds/SabrinaInkwell3/to_2.ogg
!Plugins/Pacenote/sounds/SabrinaInkwell3/to_3.ogg
!Plugins/Pacenote/sounds/SabrinaInkwell3/to_4.ogg
!Plugins/Pacenote/sounds/SabrinaInkwell3/to_5.ogg
!Plugins/Pacenote/sounds/SabrinaInkwell3/to_6.ogg
!Plugins/Pacenote/sounds/SabrinaInkwell3/to_finish.ogg
!Plugins/Pacenote/sounds/SabrinaInkwell3/to_hairpin.ogg
!Plugins/Pacenote/sounds/SabrinaInkwell3/to_square.ogg
!Plugins/Pacenote/sounds/SabrinaInkwell3/tree.ogg
!Plugins/Pacenote/sounds/SabrinaInkwell3/tree_in.ogg
!Plugins/Pacenote/sounds/SabrinaInkwell3/tree_out.ogg
!Plugins/Pacenote/sounds/SabrinaInkwell3/triple_caution.ogg
!Plugins/Pacenote/sounds/SabrinaInkwell3/tunnel.ogg
!Plugins/Pacenote/sounds/SabrinaInkwell3/twisty.ogg
!Plugins/Pacenote/sounds/SabrinaInkwell3/two_left.ogg
!Plugins/Pacenote/sounds/SabrinaInkwell3/two_right.ogg
!Plugins/Pacenote/sounds/SabrinaInkwell3/tyers.ogg
!Plugins/Pacenote/sounds/SabrinaInkwell3/unseen.ogg
!Plugins/Pacenote/sounds/SabrinaInkwell3/untitled.ogg
!Plugins/Pacenote/sounds/SabrinaInkwell3/uphill.ogg
!Plugins/Pacenote/sounds/SabrinaInkwell3/very_long.ogg
!Plugins/Pacenote/sounds/SabrinaInkwell3/wall.ogg
!Plugins/Pacenote/sounds/SabrinaInkwell3/water.ogg
!Plugins/Pacenote/sounds/SabrinaInkwell3/wide.ogg
!Plugins/Pacenote/sounds/SabrinaInkwell3/widens.ogg
!Plugins/Pacenote/sounds/SabrinaInkwell3/wideout.ogg
!NotesLibrary
!NotesLibrary/*
